{% extends 'home/main.html' %}
{% block content %}
<style>
  #id_message{
    resize: none;
    width: inherit;
  }
</style>
<h2 style="margin-bottom: 15px">Leave me a message :)</h2>
<form method="POST" action="{% url 'messagesuccess' %}">
    {% csrf_token %}
      <div class="col-12" style="margin-bottom: 15px;">
        {{form.message}}
      </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    <a href="{% url 'home' %}" class="btn btn-primary" >Cancel</a>
</form>
{% endblock content %}