{% extends 'home/main.html' %}
{% block content %}
{% load guest_user %}
{% if user.is_authenticated %}
{% if user|is_guest_user %}
<h1>Welcome, Guest!</h1>
{% else %}
<h1>Welcome, {{user}}!</h1>
{% endif %}
{% else %}
<h1>Welcome, Stranger!</h1>
{% endif %}
<br>
<div class="list-group">
{% for app in applist %}
  <a href="{% url app.1 %}" class="list-group-item list-group-item-action col-md-4">
    <p class="mb-1"><strong>{{app.0}}</strong></p>
    <small>{{app.2}}</small>
  </a>
  <br>
{% endfor %}
<a href="https://github.com/UbadeAkkad/mainsite" class="list-group-item list-group-item-action col-md-4">
  <p class="mb-1"><strong>GitHub Repository</strong></p>
  <small>Website source code</small>
</a>
</div>
{% endblock content %}