{% extends 'home/main.html' %}
{% block head %}
<title>Login</title>
<meta name="description" content="Login page.">
<meta name="robots" content="noindex">
{% endblock head %}
{% block content %}
<div class="col-sm-2" style="margin-bottom: 10px">
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username"  class="form-label">User name</label>
        {{form.username}}
      </div>
      <div class="mb-3">
        <label for="id_password"  class="form-label">Password</label>
        {{form.password}}
      </div>
    <input type="submit" value="Login" class="btn btn-primary">
</form>
</div>
<P>Create an account? <a href="{% url 'register' %}"> Register</a> or <a href="{% url 'guestlogin' %}?next={{request.GET.next}}"> Continue as a guset</a></P>
{% endblock content %}