{% extends 'home/main.html' %}
{% block head %}
<title>Quiz App</title>
<meta name="description" content="Quiz app main page.">
{% endblock head %}
{% block content %}
<div style="padding-bottom: 20px;">
<a href="{% url 'create_quiz' %}" class="btn btn-primary">Create new quiz</a>
</div>
{% if quizzes %}
<div class="list-group">
{% for quiz in quizzes %}
<a href="{% url 'quiz_details' quiz.quiz_ID %}" class="list-group-item list-group-item-action col-md-4 text-bg-secondary">
    <p class="mb-1"><strong>{{quiz.name}}</strong></p>
    <small>{{quiz.created}} </small>
  </a>
{% endfor %}
</div>
{% else %}
<div>
    You don't have any quizzes!
</div>
{% endif %}
{% endblock content %}