{% extends 'home/main.html' %}
{% block head %}
<title>Quiz App</title>
<meta name="description" content="Quiz app main page.">
<meta name="robots" content="noindex">
{% endblock head %}
{% block content %}
<h1>{{quiz.name}}</h1>
<form method="post" id="Quiz_Form">
    {% csrf_token %}
    <div style="margin-bottom: 15px;">
    <label>Your name: </label>
    <input type="text" name="taker_name" id="taker_name" required>
    </div>
    {% for Q in questions %}
    {% if forloop.counter == 1 %}
    <div id="question{{ forloop.counter }}" class="card-header">
    {% else %}
    <div id="question{{ forloop.counter }}" class="card-header" style="display:none">
    {% endif %}
        {% with id=forloop.counter %}
        <div class="card-header">
        {{Q.question}}
        </div>
        <ul class="list-group list-group-flush">
        {% for A in Q.answers %}
        <li class="list-group-item">
        <input type="radio" class="radio" name="answer{{id}}" value="{{forloop.counter}}">
        <label> {{A}} </label>
        </li>
        </ul>
        {% endfor %}
        <br>
        {% if questions|length == id %}
        <button type="button" class="btn btn-primary" onclick="submitAnswers()">Submit</button>
        {% else %}
        <button type="button" class="btn btn-primary" onclick="nextQuestion()">Next</button>
        {% endif %}
    </div>
    {% endwith %}
    {% endfor %}
</form>

<script>
var currentQuestion = 1;

function nextQuestion() {
  var currentDiv = document.getElementById("question" + currentQuestion);
  var nextDiv = document.getElementById("question" + (currentQuestion + 1));
  currentDiv.style.display = "none";
  nextDiv.style.display = "block";
  currentQuestion++;
}

function submitAnswers() {
  var form = document.getElementById("Quiz_Form");
  if (document.getElementById("taker_name").value == "") {
    window.alert("Please enter your name");
  } else {
    form.submit();
  }
}
</script>
{% endblock content %}