{% extends 'home/main.html' %}
{% block content %}
<style>
  #id_description{
    resize: none;
  }
</style>
<h2 style="margin-bottom: 15px">Edit task</h2>
<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        {{form.title}}
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
        {{form.description}}
      </div>
      <div class="form-check" style="margin-bottom: 15px;padding-left: 0px;">
        {{form.complete}}
        <label class="form-check-label" for="id_complete">Complete</label>
      </div>
    <input type="submit" class="btn btn-primary" value="Save">
    <a href="{% url 'todo' %}" class="btn btn-primary">Cancel</a>
</form>
{% endblock content %}