{% extends 'home/main.html' %}
{% block content %}
</script>
<h2 style="margin-bottom: 15px">Todo List</h2>
<form method="GET" class="row g-3">
    <div class="col-md-2 grid-col">
        <input type="text" class="form-control" placeholder="Search" name="search_query" value="{{search_input}}">
    </div>
    <div class="col-md-8 grid-col">
        <input type="submit" class="btn btn-primary" value="Search">
        {% if search_input == "" %}
        <input type="reset" value="Clear" class="btn btn-primary">
        {% else %}
        <a href="{% url 'todo' %}" class="btn btn-primary">Clear</a>
        {% endif %}
        <a href="{% url 'createtask' %}" class="btn btn-primary">Add new task</a>
        {% if tasks %}
        <a href="{% url 'exporttasks' %}" class="btn btn-primary">Export</a>
        {% else %}
        <a class="btn btn-primary">Export</a>
        {% endif %}
    </div>
</form>
    <br>
    <div class="accordion accordion-flush row" id="accordionFlush" style="padding-left: 5px;">
      <div class="accordion-item">
    {% for task in tasks %}
    {% with task.id|stringformat:"s" as flush_id %}
    <div class="row">
      {% if task.complete %}
        <input class="form-check-input col-1" type="checkbox" value="" style="width: 20px;height: 20px;padding-left: 0px;margin-top: 18px; margin-right: 5px;" id="checkbox_{{task.id}}" onchange="poster('{% url 'completecheck' task.id %}', {{task.id}});return false;" checked>
        <h2 class="accordion-header col" style="padding-left: 5px;">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{'#flush-collapse'|add:flush_id}}">
        {{task.title}}
        </button>
        {% else %}
        <input class="form-check-input col-1" type="checkbox" value="" style="width: 20px;height: 20px;padding-left: 0px;margin-top: 18px; margin-right: 5px;" id="checkbox_{{task.id}}" onchange="poster('{% url 'completecheck' task.id %}', {{task.id}});return false;">
        <h2 class="accordion-header col" style="padding-left: 5px;">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{'#flush-collapse'|add:flush_id}}">
        {{task.title}}
        </button>
        {% endif %}
        </h2>
    </div>
        <div id="{{'flush-collapse'|add:flush_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
        <div class="accordion-body" style="padding-left: 25px;">
        {{task.description}}
        </div>
          <div class="row justify-content-end">
            <div class="col-1" style="padding-right: 0px; width: 80px;">
              <a href="{% url 'edittask' task.id %}"><span class="material-symbols-outlined">edit</span></a>
              <a href="{% url 'deletetask' task.id %}"><span class="material-symbols-outlined">delete</span></a>
              <br>
            </div>
          </div>
        </div>
    <br>
    {% endwith %}
    {% empty %}
        <p>No tasks found.</p>
    {% endfor %}
  </div>
<script>
function poster(url, task_id) {
  $.post(url)
  $("#checkbox_"+task_id).change(function() {
    if(this.checked) {
        this.prop( "checked", false );
    }
    else{
      this.prop( "checked", true );
    }
});
  };
</script>
</div>
{% endblock content %}