{% extends 'todo/main.html' %}
{% block content %}
<h2>Todo List</h2>
<form method="GET" class="row g-3">
    <div class="col-md-2 grid-col">
        <input type="text" class="form-control" placeholder="Search" name="search_query" value="{{search_input}}">
    </div>
    <div class="col-md-3 grid-col">
        <input type="submit" class="btn btn-primary mb-3" value="Search">
        <a href="{% url 'create' %}" class="btn btn-primary">Add New Task</a>
    </div>
</form>
    <br>
    <br>
    {% for task in tasks %}
    <div class="row mb-3">
    {% if task.complete %}
    <div class="col-md-8 grid-col"><s>{{task.title}}</s></div>
    {% else %}
    <div class="col-md-8 grid-col">{{task.title}}</div>
    {% endif %}
    <div class="col-md-4 grid-col">
        <div class="btn-group">
            <a href="{% url "detail" task.id %}" class="btn btn-primary">View</a>
            <a href="{% url "edit" task.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url "delete" task.id %}" class="btn btn-primary">Delete</a>
        </div>
    </div>
    </div>
    <br>
    {% empty %}
        <p>Your todo list is empty.</p>
    {% endfor %}
    

{% endblock content %}