{% extends 'home/main.html' %}
{% block content %}
<h2 style="margin-bottom: 15px">Notes</h2>
    <div class="col-md-3 grid-col">
        <a href="{% url 'createnote' %}" class="btn btn-primary">Add new note</a>
        {% if notes %}
        <a href="{% url 'exportnotes' %}" class="btn btn-primary">Export</a>
        {% else %}
        <a class="btn btn-primary">Export</a>
        {% endif %}
    </div>
    <br>
    <div class="row">
    <div class="d-flex flex-wrap">
    {% for note in notes %}
    <div class="col-md-3" style="padding: 5px;">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{note.title}}</h5>
          <p class="card-text">{{note.body}}</p>
          <div class="row">
            <div class="col-md-6 offset-md-9">
                <a href="{% url 'editnote' note.id %}"><span class="material-symbols-outlined">edit</span></a>
                <a href="{% url 'deletenote' note.id %}"><span class="material-symbols-outlined">delete</span></a>
                <br>
            </div> 
        </div>
      </div>
    </div>
</div>
    {% endfor %}
</div>
</div>
{% endblock content %}