{% extends 'home/main.html' %}
{% block head %}
<title>Edit Note</title>
<meta name="description" content="Note editing page.">
<meta name="robots" content="noindex">
{% endblock head %}
{% block content %}
<style>
  #id_body{
    resize: none;
  }
</style>
<h2 style="margin-bottom: 15px">Edit note</h2>
<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        {{form.title}}
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Note</span>
        {{form.body}}
      </div>
    <input type="submit" class="btn btn-primary" value="Save">
    <a href="{% url 'notes' %}" class="btn btn-primary">Cancel</a>
</form>
{% endblock content %}