{% extends 'home/main.html' %}
{% block content %}
{% load static %}
<h2 style="margin-bottom: 15px">Notes</h2>
    <div class="col-md-6 grid-col">
        <a href="{% url 'createnote' %}" class="btn btn-primary">Add new note</a>
        {% if notes %}
        <a href="{% url 'exportnotes' %}" class="btn btn-primary">Export</a>
        {% else %}
        <a class="btn btn-primary">Export</a>
        {% endif %}
    </div>
    <br>
    <div class="row">
    <div class="container" id="notes_continer">
    {% for note in notes %}
    <div class="col-md-3" style="padding: 5px;" id="note_item">
    {% if note.color == "defualt" %}
    <div class="card" id="note_{{note.id}}">
    {% else %}
    <div class="card" id="note_{{note.id}}" style="background-color: {{note.color}};">
    {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{note.title}}</h5>
          <p class="card-text">{{note.body}}</p>
          <div class="container" style="padding: 0px; margin-left: 10px;">
            <div class="float-end btn-group ms-auto">
              <input type="color" list="colorlist" class="form-select card palette" style="background-size: 20px; padding-right: 15px; background-position: center; background-image: url({% static 'palette-light.svg' %}); border: 0ch; background-color: transparent; padding-bottom: 0px; box-shadow: none; content-visibility: hidden;" onchange='colorchange("",{{note.id}}, this.value);'>
              <datalist id="colorlist"> 
                <option value="#ffffff" style="background-color: #ffffff;padding: 0px;" class="special_option"></option>
                <option value="#1e7145" style="background-color: #1e7145; padding: 0px;"></option>
                <option value="#99b433" style="background-color: #99b433; padding: 0px;"></option>
                <option value="#00aba9" style="background-color: #00aba9; padding: 0px;"></option>
                <option value="#eff4ff" style="background-color: #eff4ff; padding: 0px;"></option>
                <option value="#2d89ef" style="background-color: #2d89ef; padding: 0px;"></option>
                <option value="#2b5797" style="background-color: #2b5797; padding: 0px;"></option>
                <option value="#ffc40d" style="background-color: #ffc40d; padding: 0px;"></option>
                <option value="#ff0097" style="background-color: #ff0097; padding: 0px;"></option>
                <option value="#9f00a7" style="background-color: #9f00a7; padding: 0px;"></option>
                <option value="#603cba" style="background-color: #603cba; padding: 0px;"></option>
              </datalist> 
              </input>
                <a href="{% url 'editnote' note.id %}"><span class="material-symbols-outlined">edit</span></a>
                <a href="{% url 'deletenote' note.id %}"><span class="material-symbols-outlined">delete</span></a>
                <br>
            </div> 
        </div>
      </div>
    </div>
</div>
    {% endfor %}
</div>
</div>
<script>
const mediaQuery = window.matchMedia('(max-width: 768px)')
function masonry_function() {
  $('#notes_continer').masonry({
  itemSelector: '#note_item',
  horizontalOrder: true,
  fitWidth: true,
});}
if (mediaQuery.matches) {
    //masonry dosen't work well on mobile
}
else {
  masonry_function()
}
mediaQuery.onchange = (e) => {
  if (mediaQuery.matches) {
    $('#notes_continer').masonry('destroy')
}
else {
  masonry_function()
}
}
function colorchange(url, note_id, changedcolor) {
  $.post(url, { pk: note_id, color: changedcolor })
  if (changedcolor == "#ffffff" || changedcolor == "#222222"){
    $('#note_'+note_id).css({ 'background-color' : ''});
  }
  else{
    $('#note_'+note_id).css({ 'background-color' : changedcolor});
  }
}
</script>
{% endblock content %}